
<!-- <form name ="resetpassword1" style="width: 200px;">
        <input type="password" class="form-control" ng-minlength="5" name ="newpassword" placeholder="Enter new password" ng-model="newpassword"><br>
        <input type="password" class="form-control"  ng-pattern="newpassword" name="confimpassword" placeholder="confim Password" ng-model="confimpassword"><br>
        <button class="btn btn-default" ng-click="resetpassword()">Change password</button>
        <br>
        <span class="error" ng-show="resetpassword1.confimpassword.$error.pattern">
        Please enter same password</span>
        <br>
        <span class="error" ng-show="resetpassword1.newpassword.$error.minlength">
        Password too short</span>
</form>
 -->
<div class="container">
  <div  style="margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="panel panel-info">
                         <center><h3><i class="fa fa-lock fa-4x"></i></h3></center>
                        <div class="panel-heading">

                            <div class="panel-title"><center><b>Password Reset</b></center></div>
                            <div style="float:right; font-size: 105%; position: relative;"></div>
                        </div>  
                        <div class="panel-body" >
<div class="form-group">
                                <div class="row show-hide-message">
                                <span class="alert alert-danger" ng-show="resetpassword1.confimpassword.$error.pattern" >
                                Please enter same password</span>
                                <br>
                                <span class="alert alert-danger" ng-show="resetpassword1.newpassword.$error.minlength">
                                Password too short</span>
                                </div>
                                <div class="row show-hide-message" ng-show="successmsg">
                                <div class="alert alert-success" style="font-size: 12px;">{{successmsg}}</div> </div>

                                 <div class="row show-hide-message" ng-show="errormsg">
                                <div class="alert alert-danger" style="font-size: 12px;">{{errormsg}}</div>
                                </div>                               
                                </div>                           
 <form  id="np" name="resetpassword1" class="form-horizontal">
                                <div class="form-group">
                                    <label for="newpassword" class="col-md-3 control-label">New Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control" ng-minlength="5" name ="newpassword" placeholder="Enter new password" ng-model="register.newpassword"><br>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confimpassword" class="col-md-3 control-label">Confirm Password</label>
                                    <div class="col-md-9">
                                        <input type="password" class="form-control"  ng-pattern="register.newpassword" name="confimpassword" placeholder="confim Password" ng-model="register.confimpassword">
                                    </div>
                                </div>
                                    
                                <div class="form-group">
                                    <!-- Button -->                                        
                                    <div class="col-md-offset-3 col-md-9">
                                       <button class="btn btn-default" ng-click="resetpassword(register)">Change password</button>
                                </div>
                                                          
                                </div>    
                                
                            </form>
                         </div>
                    </div>
         </div> 
    </div>
