<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>reset password</title>
</head>
<body >
<form style="width: 200px;">
	<input type="text" class="form-control" name ="newpassword" placeholder="Enter new password" ng-model="newpassword"><br>
	<input type="text" class="form-control" name="confimpassword" placeholder="confim Password" ng-model="confimpassword"><br>
	<button class="btn btn-default" ng-click="resetpassword()">Change password</button>
</form>
</body>
</html>