<aside class="right-side">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Roles
        </h1>
        <ol class="breadcrumb">
            <li><a href="/#/home"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#/roles/add">Roles</a></li> 
            <li>Add</li>                      
        </ol>
    </section>
    <!-- Main content -->
    <section class="content" data-ng-init="findOne()">

        <div class="row">

            <div class="col-md-12">
                <!-- Custom Tabs -->
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li ng-class="{'active': activeTab === 0}" data-ng-click="moveTabContents(0)"><a data-toggle="tab">Role</a></li>
                        <li ng-if="role._id" ng-class="{'active': activeTab === 1}" data-ng-click="moveTabContents(1)"><a   data-toggle="tab">Permission</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane" ng-class="{'active': activeTab === 0}" id="tab_1">
                         <div class="row">
                            <div class="col-xs-12">
                                <div class="box">
                                    <div class="box-body table-responsive">  
                                        <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>                    
                                        <form role="form">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label>Role</label>
                                                    <input type="text" class="form-control"  name='firstname' data-ng-model="role.name" placeholder="Enter Role">
                                                </div>
                                                <div class="box-footer clearfix no-border">
                                                  <button data-ng-if="!role._id" class="btn btn-warning pull-right" data-ng-click="updateData()">Save & Continue</button>
                                                  <button data-ng-if="role._id" class="btn btn-warning pull-right" data-ng-click="updateData()">Save & Exit</button>
                                              </div>
                                          </div>

                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div><!-- /.tab-pane -->
                  <div   class="tab-pane"  ng-class="{'active': activeTab === 1}" id="tab_2">
                    <div class="alert alert-danger alert-dismissable" ng-show="message"><button class="close" aria-hidden="true" data-dismiss="alert" type="button">×</button>{{message}}</div>
                      <table class="table">
                  <thead>
                <tr>
                <td class="stdc"><b>Used</b></td>
                <td style="width:100%;"><b>Permission</b></td>
                <td class="stdc"><b>Status</b></td>
            </tr>
        </thead>
        <tbody>

            <tr data-ng-repeat="permission in permissionData" on-finish-render class="pointer {{checkStatus(permission.used)}}" data-ng-click="editPermission(permission._id)">
                <td class="set{{permission.used}}"><i ng-show="permission.used" class="fa fa-thumbs-up fa-2x" title="Used on this Objective"></i><i ng-hide="permission.used" class="fa fa-thumbs-down fa-2x" title="Not on this Objective"></i></td>
                <td class="stdl set{{permission.is_deleted==0}}" style="width:100%;">{{permission.permission}}</td>
                <td class="set{{!permission.is_deleted}} stdc smallertext">
                    <i ng-show="permission.is_deleted==0" class="fa fa-thumbs-up fa-2x active-data" title="Active"></i>
                    <i ng-hide="permission.is_deleted==0" class="fa fa-thumbs-down fa-2x inactive-data" title="Disabled"></i>
                    <div ng-show="permission.is_deleted==0">Active</div>
                    <div ng-hide="permission.is_deleted==0">Disabled</div>
                </td>
            </tr>

    </table>

                                              <div class="box-footer clearfix no-border">
                                                  <button class="btn btn-warning pull-right" data-ng-click="updateData()">Save & Exit</button>
                                              </div>
                  </div><!-- /.tab-pane -->
              </div><!-- /.tab-content -->
          </div>
      </div>

  </section><!-- /.content -->
            </aside><!-- /.right-side -->